.epg-container {
  background-color: #131313;
  display: grid;
  grid-template-columns: 8% 92%;
}

.epg-dateline-icon {
  place-self: center;
  -webkit-box-shadow: 6px 0px 2px 0px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 6px 0px 2px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 6px 0px 2px 0px rgba(0, 0, 0, 0.5);
}
