.header-container {
  background-color: black;
  display: grid;
  grid-template-columns: 10% 80% 10%;
}

.header-icon {
  place-self: center;
  margin: 1rem;
}

.header-logo {
  place-self: center;
  width: 5rem;
  margin: 1rem;
}
